body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F3E5F5; 
    font-family: 'Dancing Script', cursive;
    overflow: hidden;
}

.card-container {
    text-align: center;
    background-color: transparent; 
    padding: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: none;
    
    max-width: 400px;  
    min-width: 300px;  
    width: 90%;        
    
    min-height: 350px;
}

.title-text {
    font-size: 36px;
    color: #8E24AA; 
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(142, 36, 170, 0.2);
}

.gif-area img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.action-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.button {
    padding: 12px 24px;
    font-size: 20px;
    border: 2px solid #AB47BC; 
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #AB47BC;
    color: white;
    font-family: 'Dangerous', cursive;
    box-shadow: 0 4px 10px rgba(171, 71, 188, 0.3);
}

.button:hover {
    background-color: white;
    color: #AB47BC;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(171, 71, 188, 0.4);
}

#noBtn {
    background-color: #7B1FA2; 
    border-color: #7B1FA2;
}

#noBtn:hover {
    background-color: white;
    color: #7B1FA2;
}

